* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/*user page */

.navbar {
  margin: 0px 20px 0px 20px !important;
}

#logo_title {
  color: white !important;
  font-size: 30px;
}
.logo {
  margin: 0px !important;
  padding: 0px !important;
}

#icon_profile {
  width: 40px;
  margin: 5px 20px;
}

#icon_fav {
  width: 40px;
  margin: 5px 20px;
}

.add_cart {
  width: 10%;
}

.card-img-top {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border: 8px solid #258470;
  box-shadow:
    0 0 0 10px #e3fff8,
    0 15px 35px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.05);
}

#rating {
  width: 100px;
}

.restaurant_title {
  font-weight: bold;
  font-size: 20px;
}

.card_header {
  margin: 0px !important;
}

.order_again {
  margin: 0px 20px 0px 20px;
}

#order_again_title {
  font-weight: bold;
}

footer {
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  padding: 2em 1em;
  margin-top: 4em;
  font-size: 0.9em;
  box-sizing: border-box;
  position: relative;
}

/* home page */
* {
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
nav {
  display: flex;
  color: #f4f4f4;
  justify-content: space-between;
}
.d-flex {
  padding-left: 270px;
  align-items: end;
}

.hero {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: start;
  color: rgb(15, 15, 15);
}

.search-form {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.search-form input {
  padding: 0.7rem;
  border: none;
  width: 250px;
}
.search-form button {
  padding: 0.7rem 1rem;
  border: none;
  background: #ff4d4d;
  color: white;
  cursor: pointer;
}
.search-form button:hover {
  background: #e60000;
}
.list-items button {
  background: #198754;
  padding-inline: 27px;
}
.restaurants {
  padding: 3rem 0;
  text-align: center;
}
.restaurant-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.restaurant-card {
  background: #f4f4f4;
  border-radius: 10px;
  width: 250px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.restaurant-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.restaurant-card:hover {
  transform: scale(1.05);
}
.restaurant-card h3 {
  margin: 1rem 0 0.5rem;
}
.restaurant-card p {
  margin-bottom: 1rem;
  color: gray;
}
footer {
  background: #198754;
  color: white;
  text-align: center;
  padding: 1rem;
}
