* {
      box-sizing: border-box;
      font-family: 'Inter', sans-serif;
}
    

.navbar{
    margin:0px 20px 0px 20px !important;
}

#logo_title {
    color: white !important;
    font-size: 30px;
}
.logo{
    margin:0px !important;
    padding:0px !important;
}

#icon_profile{
    width:40px;
    margin:5px 20px;
}

#icon_fav {
     width:40px;
     margin:5px 20px;
}

.add_cart {
    width: 10%;
}

.card-img-top  {
      width: 220px;
      height: 220px;
      object-fit: cover;
      border: 8px solid #258470;
      box-shadow: 0 0 0 10px #e3fff8, 0 15px 35px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
    }

.card-img-top:hover {
     transform: scale(1.05);
 }

 #rating{
    width:100px;
 }

 .restaurant_title{
    font-weight: bold;
    font-size: 20px;
 }

 .card_header{
    margin: 0px !important;
 }

 .order_again{
    margin:0px 20px 0px 20px;
 }

 #order_again_title{
    font-weight: bold;;
 }

 footer {
      justify-content: center;
      width: 100%;
      text-align: center;
      background-color: #ffffff;
      padding: 2em 1em;
      margin-top: 4em;
      font-size: 0.9em;
      box-sizing: border-box;
      position:relative;
    }

/*



.topnav {
  overflow: hidden;
  background-color: #68DDAE;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
*/
/* Create a right-aligned (split) link inside the navigation bar */
/*
.topnav a.split {
  float: right;
  background-color: #68DDAE;
  color: white;
}

#logo{
    width:60px;
}

#icon{
    width:40px;
}

aside {
    display:flex;
}

main{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: antiquewhite;
}

.foodimage {
    width:30%;
}

.add_cart {
    width: 10%;
}

#cats{
     display: flex;
}

footer {
      display: flex;
      justify-content: center;
      width: 100%;
      text-align: center;
      background-color: #ffffff;
      padding: 2em 1em;
      margin-top: 4em;
      font-size: 0.9em;
      box-sizing: border-box;
      position:relative;
    }
    */