* {
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
nav {
  display: flex;
  color: #f4f4f4;
  justify-content: space-between;
}
.d-flex {
  padding-left: 290px;
  align-items: end;
}

.hero {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: start;
  color: rgb(15, 15, 15);
}

.search-form {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.search-form input {
  padding: 0.7rem;
  border: none;
  width: 250px;
}
.search-form button {
  padding: 0.7rem 1rem;
  border: none;
  background: #ff4d4d;
  color: white;
  cursor: pointer;
}
.search-form button:hover {
  background: #e60000;
}
.list-items button {
  background: #198754;
  padding-inline: 27px;
}
.restaurants {
  padding: 3rem 0;
  text-align: center;
}
.restaurant-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.restaurant-card {
  background: #f4f4f4;
  border-radius: 10px;
  width: 250px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.restaurant-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.restaurant-card:hover {
  transform: scale(1.05);
}
.restaurant-card h3 {
  margin: 1rem 0 0.5rem;
}
.restaurant-card p {
  margin-bottom: 1rem;
  color: gray;
}
footer {
  background: #198754;
  color: white;
  text-align: center;
  padding: 1rem;
}
